
.Board{
    margin-top: 10px;
    box-sizing: border-box;
    background: #fff;
}

.Title{
    margin-top: 10px;
    box-sizing: border-box;
    background: #fff;
}



.Title .textarea_input {
    text-size-adjust: none;
    margin: 0;
    font-weight: 400;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    letter-spacing: -.23px;
    outline: none;
    min-height: 48px;
    padding: 13px 16px 11px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #dee1e5;
    height: 48px;
}

.WritingCommerce {
    margin-top: 10px;
    box-sizing: border-box;
    background: #fff;

}



.input_text {
    display: flex;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    outline: none;
    height: 48px;
    font-size: 16px;
    padding: 0 16px;
    border-radius: 10px;
    background-color:rgb(244, 244, 244);
    border: 1px solid #dee1e5;
}

.Categories{
    margin-top: 10px;
    box-sizing: border-box;
    background: #fff;
}

.cate_button{
    text-align: start;
    margin: 0;
    width: 100%;
    color: black;
    outline: none;
    height: 48px;
    font-size: 16px;
    padding-left:16px;
    border-radius: 10px;
    background-color:rgb(244, 244, 244);
    border: 1px solid #dee1e5;
}

.Quality{
    margin-top: 10px;
    display: inline-block;
  }
  
  .radiobox-option {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .radiobox-option.selected {
    background-color: #33cc33;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .radiobox-option input[type="radio"] {
    display: none;
  }

  .delivery-checkbox {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-weight: bold;
  }
  
  .delivery-checkbox.checked {
    background-color: #33cc33;
    color: white;
    font-weight: bold;
    font-size: 14px;

  }


  




